/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.footer{
  height: 40px;
  background-color: grey;
  width: 100%;
  text-align: center;
}
.login{
  padding: 10px;
  background-color: red;
  color: green;
} 
.tests{
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 35px;
  padding: 10px;
  background: linear-gradient(-110deg, lightblue 50%, deeppink 50%);
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  backface-visibility: hidden;
}
.quizButton{
  position: absolute;
  top: 50%;
  left: 30%;
  transition: .5s ease;
  opacity: 0;
}
.tests:hover .logo{
  transition: .5s ease;
  opacity: 0.4 !important;
}
.tests:hover .quizButton{
  opacity: 1;
}
Form{
  width: 400px;
  background-color: rgb(136, 122, 122);
  padding: 20px;
  margin: 20px auto;
  border-radius: 40px;
}
.show{
  margin-right: 50px;
}